{% set user = salt['grains.filter_by']({
	'Debian': {
		'name': 'canonical', 
		'source' : 'salt://tests/users/ubuntu.pem.pub',
                'user_to_del': 'redhat',
		'ssh_pkg':'ssh' },
	'RedHat': { 
		'name': 'redhat', 
		'source' : 'salt://tests/users/centos.pem.pub',
		'user_to_del': 'canonical',
		'ssh_pkg':'openssh' },
}) %}
